.createnote-container {
  width: 100%;
}
.createnote-container button {
  width: 100%;
  background: #325288;
  color: var(--gra);
  outline: none;
  border: none;
  padding: 8px 8px;
  font-size: 0.875rem;
}

.createnote-container button:hover {
  background: #00adb5;
}

.createnote-container input {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 8px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px white solid;
}
