.quillcomp-container {
  width: 100%;
}
.quill {
  display: flex;
  flex-direction: column;
  height: 86vh;
}
.ql-container {
  box-sizing: border-box;
  overflow-y: scroll;
}
.ql-editor {
  /* all: unset; */
  /* min-height: 86vh; */
  font-size: 0.875rem;
}
